# Hard pinning here gets relaxed to ">=" in setup.py
afdko==4.0.2
fonttools==4.55.1
brotli==1.1.0
click==8.1.7
cffsubr==0.3.0
dehinter==4.0.0
loguru==0.7.2
pathvalidate==3.2.1
rich==13.9.4
skia-pathops==0.8.0.post2
ttfautohint-py==0.5.1
zopfli==0.2.3.post1