# Hard pinning here gets relaxed to ">=" in setup.py
afdko==4.0.1
fonttools==4.53.0
brotli==1.1.0
click==8.1.7
cffsubr==0.3.0
dehinter==4.0.0
loguru==0.7.2
pathvalidate==3.2.0
rich==13.7.1
skia-pathops==0.8.0.post1
ttfautohint-py==0.5.1
zopfli==0.2.3